<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/54eb0cc4f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="l-header">
    </div>

    <div id="app" class="l-wrap">
        <section v-for="(speaker, index) in chat" :class="[speaker.name, speaker.theme]"
            class="chat chat--replier chat--senter.xx">
            <div class="chat__head">
                <div class="chat__person">
                    我是{{speaker.name}}，正在跟{{another(index)}}講話
                </div>
            </div>

            <div class="chat__box clearfix">
                <div v-for="item in msg" class="chat__box__msgRow chat__box__msgRow--sent">
                    <div class="chat__box__senter">{{item.sender}}：</div>
                    <div class="chat__box__msg">{{item.message}}</div>
                    <div class="chat__box__time">{{item.timestamp}}</div>
                </div>
            </div>

            <div class="chat__text">
                <div class="chat__text__bar">
                    <input v-model.trim="speaker.say" @keyup.enter="msgHandler(index)" :name="speaker.name" type="text"
                        placeholder="Message" />
                </div>
            </div>
        </section>
    </div>

    <div class="l-footer">

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>